@import '../../variables';

header {
  padding: 30px 0;
  margin-bottom: 30px;
}

.Avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $light;
}

.User-Name {
  font-size: 20px;
}

.LogOut {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.28s;
  color: $light;
}

.LogOut:hover {
  color: red;
}
