@import '../../variables';

header {
  padding: 30px 0;
  margin-bottom: 30px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.Header-Avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $light;
}

.row .User-Name {
  font-size: 20px;
}

.LogOut {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  transition: all 0.28s;
  color: $light;
}

.LogOut:hover {
  color: red;
}

@media (max-width: 576px) {
  .row .Avatar {
    width: 60px;
    height: 60px;
  }

  .row .User-Name {
    font-size: 20px;
    .LogOut {
      display: block;
      margin-left: 0;
      margin-top: 3px;
    }
  }
}
