.Likes-Container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-red {
  color: #e2264d;
}

.button.fav {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.fav {
  background-image: url('../../assets/images/corazon-like.png');
  background-size: cover;
}

.fav.is-liked {
  animation: like 1s steps(28);
  animation-fill-mode: forwards;
}

@keyframes like {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: right;
  }
}
