@import '../../variables';

.Input-Container form {
  display: flex;
  justify-content: space-between;
}

.Input-Text {
  font-size: 20px;
  color: $light;
}

.Tweet-btn {
  align-self: flex-start;
  font-weight: bold;
}

.Tweet-btn:disabled {
  background-color: $primaryDark;
  border-color: $primaryDark;
}

.Tweet-Area {
  background: none;
  border: none;
  font-size: 20px;
  padding: 0;
  color: $white;
  resize: none;
}

.Tweet-Area:focus::placeholder {
  color: lighten($light, 30%);
}

.Tweet-Area:focus {
  background: none;
  border: none;
  font-size: 20px;
  padding: 0;
  box-shadow: none;
  color: $white;
}

@media (max-width: 576px) {
  .Input-Container form {
    display: block;
  }

  .Tweet-btn {
    margin-top: 10px;
  }
}
