@import '../../variables';

.Tweet-Container {
  display: flex;
  padding: 25px 20px;
  animation: fadeIn 0.5s;
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  &:hover {
    background-color: lighten($body, 1%);
  }
}

.Tweet-Avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $light;
}

.Tweet-Header {
  font-weight: bold;
  margin-bottom: 10px;

  .Tweet-Info {
    font-weight: 400;
    color: $light;
    margin-left: 5px;
  }
}

.Delete-Svg {
  width: 18px;
  height: 18px;
  fill: $veryLight;
  opacity: 0.3;
  cursor: pointer;
  transition: all 0.28s;

  &:hover {
    fill: red;
    opacity: 1;
  }
}

.Tweet-Actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .Tweet-Container {
    padding: 25px 0;
  }

  .Tweet-Avatar {
    width: 40px;
    height: 40px;
  }
}
